$container-width: 1200px;
$bg-image: url("../../dist/images/background/donuts.jpg") no-repeat center
  center/cover;
$bg-color-white: #fff;
$bg-color-blue: #0000cc;
$bg-color-orange: #cc6600;
$dark-text-color: #000;
$light-text-color: #fff;
$line-height: 2rem;
$lead-paragraph-font: 1.5rem;
