// index page styles (mobile device screens)

// welcome section
#welcome {
  img {
    margin: 1rem 0;
    width: 100%;
  }
}

#locations {
  border: 2px dotted red;
  margin: 2rem auto; // top right bottom left
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;

  // location card styles
  .card {
    padding: 0.5rem;
    border: 1px solid purple;
    width: 100%;
    height: auto;
  }

  ul {
    // location card images
    .location-img {
      display: block;
      text-align: center;
      margin: 0 0 3rem 0px; //top right bottom left
    }

    img {
      display: block;
      width: 100%;
    }

    address {
      text-align: center;
      font-size: 1.5rem;
      // font-style: normal;
    }
  }
}
